// reset padding and margin defaults to 0
* {
  padding: 0;
  margin: 0;
}

// Body of the entire page
body {
  background: rgba(244, 245, 246, 0.767);
}

// Varying Resolution changes / selectors
.small-img {
  width: 896px;
  height: 504px;
}

.med-img {
  width: 1216px;
  height: 684px;
}

.large-img {
  width: 1620px;
  height: 1080px;
}

// Main header of page
#header {
  height: 2vh;
}

// Block a container EXIF and Iamge .. left to right
#block-a {
  .img-container {
    text-align: center;
  }
}

#detail-container {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 8% 0 8%;

    .state-logo {
      background-image: linear-gradient(
        to right,
        rgba(244, 245, 246, 0.767),
        rgba(214, 121, 0, 0.178)
      );
      .lines {
        height: 5px;
        background-color: rgb(214, 121, 0);
        width: 15rem;
        display: block;
      }

      #state-name {
        font-family: "Anton", sans-serif;
        font-size: 3rem;

        color: rgb(214, 121, 0);
      }
    }

    .res-list {
      background-image: linear-gradient(
        to right,
        rgba(214, 121, 0, 0.178),
        rgba(214, 121, 0, 0.616)
      );

      .resolution {
        color: rgb(80, 114, 25);
        list-style: none;
        display: flex;
        justify-content: center;
        li {
          background-color: rgb(253, 255, 127);
          margin: 20px 5px 0 5px;
          cursor: pointer;
          border: 1px solid #333;
          width: 75px;
          height: 1.5rem;
          border-radius: 7px;
          text-align: center;
          padding-top: 5px;
        }
      }
    }
    .exif-data {
      height: 5rem;
      grid-column: 1 / span 2;
      display: flex;
      justify-content: center;
      align-items: center;
      h3 {
        color: rgb(255, 0, 234);
        padding: 1rem;
        span {
          font-size: 1.1rem;
          color: #555;
        }
      }

      a {
        padding: 1rem;
        text-decoration: none;
        font-size: 1.5rem;
      }
    }
  }
}
// Footer of page
#footer {
  background: #333;
  height: 20px;
  .container {
    h4 {
      color: white;
    }
  }
}
